.page {
  background: var(--bg-color);
}
.mainContainer {
  padding-top: 120px;
  padding-bottom: 40px;
}
.mainContainer h4 {
  color: var(--white-color);
  font-size: 30px;
}

.itemContainer {
  width: 100%;
}
.label {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
  display: inline-block;
  color: var(--white-color);
}

.value {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 8px;
  color: var(--white-color);
}

.main {
  width: 100%;
  box-shadow: 2px 1px 3px 0px rgb(57 56 56 / 33%);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  column-gap: 20px;
  background-color: var(--white-color);
}

.imageContainer {
  width: 150px;
  height: 150px;
  position: relative;
}

.imageContainer img,
.imageContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.spBtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addMore {
  background: var(--white-color);
  padding: 3px 10px;
  font-size: 15px;
  box-shadow: unset;
  border: 1px solid #3745dd;
  color: #3745dd;
}
.milestonesCard {
  flex-direction: column;
  background: #3745dd24;
}
.milestonesCard .deleteBtn {
  position: absolute;
  right: 20px;
}
.milestonesCard .imageContainer {
  height: 100px;
  width: 100px;
  border: 1px solid var(--text-black-color);
  border-radius: 10px;
}
.milestonesCard .files {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.main h5 {
  font-family: "Coiny";
  font-size: 20px;
  margin: 10px 0;
  text-transform: capitalize;
}

.main p {
  font-size: 13px;
  margin-bottom: 0 !important;
}
.main button {
  font-size: 12px;
  padding: 10px 15px;
  margin-top: 15px;
}
.deleteBtn {
  margin-left: 10px;
  background-color: var(--primary-color);
}
.progressBox {
  background-color: var(--white-color);
  padding: 20px 30px;
  border-radius: 20px;
}
.progressBox h5,
.progressBox h6 {
  color: var(--blue-color);
}

.proveImg {
  position: relative;
  width: 100%;
  height: 200px;
}
.proveImg img {
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .mainContainer h4 {
    font-size: 25px;
  }
}
@media screen and (max-width: 575px) {
  .mainContainer h4 {
    font-size: 23px;
  }
}
