.mic-btn {
  border: none;
  padding: 0;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  /* font-size: 3em; */
  color: #fff;
  background: #189bff;
  position: relative;
  z-index: 3;
  display: inline-block;
  line-height: 70px;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse-ring {
  content: '';
  width: 70px;
  height: 70px;
  background: #189bff;
  border: 5px solid #189bff;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: pulsate infinite 1.5s;
}
.mic-btn svg {
  font-size: 30px;
}

.pulse-ring.delay {
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

.mic-btn .pulse-ring {
  background: transparent;
}

@media (max-width: 768px) {
  .mic-btn {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    line-height: 65px;
  }
  .pulse-ring {
    width: 100%;
    height: 100%;
  }
  .mic-btn svg {
    font-size: 30px;
  }
}
